body {
    background-color: #03123d;
}
h1 {
    color: rgb(211, 211, 211);
}
.card {
    margin: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 3px 16px white;
}
h2 {
    color: rgb(75, 75, 75);
}
p {
    color: rgb(122, 122, 122);
}
