* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@import "./grid.scss";
@import "./padding_margin.scss";
